@import "../../css/abstracts/variables";

.Contact{
    &--Container{
        width: 100vw;
        height: 30vh;
        direction: column;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    &--Box{
        width: 65vw;
        height: 10vh;
        color: $text-colour-orange;
        font-size: 4rem;
        background-color: rgba(2,2,2,0.2);
    }
}