.Header{
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    &--Section1Image{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
    }
    &--TitleDiv{
        width: 100vw;
        height: auto;
        position: absolute;
        top: 10vh;
        left: 0px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    &--TitleText {
        &__Visible{
            text-align: center;
            font-family: $fontFamily, serif;
            font-size: 8rem;
            font-weight: 900;
            letter-spacing: 2vw;
            backface-visibility: hidden;
            width: 90vw;
            @include main-title-gradient;
            
            line-height: 15vh;
        }
        &__Invisible{
            color: rgba(255,255,255, 0);
        }
    }
    &--DescriptionDiv{
        width: 100vw;
        position: absolute;
        top: 80vh;
        left: 0px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    &--DescriptionText{
        &__Visible{
            @include main-title-gradient;
            // color: rgba(255,255,255, 0.8);
            text-align: center;
            font-family: $fontFamily, serif;
            font-size: 5rem;
            letter-spacing: 2rem;
            width: auto;
        }
        &__Invisible{
            color: rgba(255,255,255, 0);
        }
    }
} 