@import "../../css/abstracts/variables";
@import "../../css/abstracts/mixins";

.Menu{
    &__Visible{
        background-color: $menu-colour-background;
        width: 100vw;
        height: 5vh;
        position: fixed;
        top: 0px;
        z-index: 100;
        -webkit-box-shadow: 5px 5px 16px -3px #000000; 
        box-shadow: 5px 5px 16px -3px #000000;

        opacity: 0;
        animation-name: fadeIn;
        animation-delay: 0.5s;
        animation-duration: 1.5s;
        // enable full opacity after animation ends
        animation-fill-mode: forwards;
    }
    &__Invisible{
        height: 0;
    }
    
    &--MenuDiv {
        width: 100vw;
        height: 100%; 
        display: flex;
        flex-direction: row; 
        justify-content: right;
        padding-right: 2vw;
    }
    &--MenuTitleDiv{
        width: auto;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    &--MenuItemDiv{
        width: auto;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    &--MenuItem {
        padding-left: 5vw;
        width: auto;
        //@include title-gradient;
        font-size: 2rem;
        display: inline-block;
        white-space: nowrap;
    }
    &--TitleBanner{
        padding-top: 1.25vh;
        padding-left: 1.25vw;
        width: 100%;
        height: 5vh;
        font-size: 2.5rem;
        text-align: left;
        letter-spacing: 0.5vw;
        
    }
    &--TitleItem{
        width: 25vw;
        //@include title-gradient;
    }
}