@import "../../css/abstracts/variables";

// main encompassing div on MainPage
.Content{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    top: 0px; 
    left: 0px;
    //background-color: $content-color-background;
}
.Blurb{
    width: 100vw;
    height: auto;
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: $body-color-background;
    &--Text{
        line-height: 5vh;
        padding-top: 12vh;
        padding-left: 15vw;
        padding-right: 15vw;
        padding-bottom: 5vh;
        color: $text-colour-orange;
        font-size: 2rem;
        text-align: justify;
        width: 100vw;
        height: auto;
        background-color: $content-color-background;
    }
}



.BlurbImageSlice{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $body-color-background;
    &--Blurb{
        line-height: 5vh;
        color: $text-colour-orange;
        font-size: 2rem;
        text-align: left;
        width: 45vw;
        height: 75vh;
        position: fixed;
        overflow: scroll;
        top: 18vh;
        left: 50vw;
        // grid-area: blurbSection;
        // z-index: 80;
        // @include respond(phonePortrait){
        //     padding-top: 5vh;
        //     padding-left: 2vw;
        //     padding-right: 2vw;
        //     padding-bottom: 5vh;
        //     grid-area: blurbSection;
        // }
    }
    &--Image{
        position: fixed;
        top: 19vh;
        left: 8vw;
   }
}