@import "../../css/abstracts/variables";

.Version{
    &--Container{
        &__Visible{
            width: 100vw;
            height: 50vh;
            display: flex;
            align-content: center;
            justify-content: center; 
        }
        &__Invisible{
            height: 0;
        }
    }
    
    &--Box{
        &__Visible{
            padding-top: 5vh;
            padding-bottom: 5vh;
            background-color: rgba(255,255,255,0.8);
            width: 50vw;
            height: 30vh; 
            position: absolute;
            top: 45vh;
            display: flex;
            direction: column;
            align-content: center;
            justify-content: center;
            opacity: 0;
            animation-name: fadeIn;
            animation-delay: 0.5s;
            animation-duration: 1.5s;
            // enable full opacity after animation ends
            animation-fill-mode: forwards;
        }
        &__Invisible{
             height: 0;
        }
    }
    &--Row{
        display: flex;
        direction: row;
    }
    &--Title{
        color: $text-colour-pink;
        font-size: 3.5rem;
        padding: 5px;
        padding-bottom: 5px;
    }
    &--Option{
        color: $text-colour-orange;
        font-size: 3rem;
        padding: 2vh;
        cursor:pointer;
    }
}