@keyframes fadeIn{
    0% { 
        backface-visibility: hidden;
        opacity: 0;
        filter: blur(100px);
        -webkit-filter: blur(100px);
    }
    
    50% { 
        backface-visibility: hidden;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        opacity: 0.8;
    }
    100% { 
        backface-visibility: hidden;
        opacity: 1;
    }
}