@import "../../css/abstracts/variables";
@import "../../css/abstracts/mixins";

*{
    margin: 0;
    padding: 0px;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    @include title-gradient;
}
body{
    background-color: white;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

div::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
div::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
div::-webkit-scrollbar {
    width: 11px;
}
div {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
html{
    --scrollbarBG: black;
    --thumbBG: #88888888;

    width: 100%;
    background-color: $body-color-background;
    box-sizing: border-box;
    text-align: center;
    font-size: 62.5%;       // remember font-size sets the global rem which is why it is here rather than typography
    padding-top: 2vmin;
    
    @include respond(tabletLandscape){ 
        font-size: 58%;     
    }
    @include respond(tabletPortait){ 
        font-size: 58%;     
    }
    @include respond(phoneLandscape){
        font-size: 37.5%;
    }
    @include respond(phonePortrait){
        font-size: 37.5%;
    }
}