@import "../../css/abstracts/variables";
// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    font-family: $fontFamily, serif;
    text-align: center;
}

//GRADIENT TEXT
// // main title

