@import "../../css/abstracts/variables";

// main encompassing div on MainPage
.Content{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    top: 0px; 
    left: 0px;
}

.Body{
    width: 100vw;
    height: 700vh;
    // direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
    &--Body{
        &__Visible{
            background-color: $body-color-background;
            width: 100vw;
            height: 500vh;
            position: absolute;
            top: 80vh;
            left: 0px;
            padding-top: 10vh;
        }
        &__Invisible{
            height: 0;
        }
    }
    &--SectionBanner{
        position: absolute;
        top: 30vh;
        width: 100vw;
        height: 5vh;
    }
    &--SectionTitle{
        color: $text-colour-orange;
        font-size: 2rem;
        text-align: center;
        width: auto;
        height: auto;
        //grid-area: sectionTitle;
        padding-top: 3vh;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-bottom: 3vh;
        background-color: rgba(1,1,1,0.5);
    }
    &--SectionText{
        line-height: 5vh;
        padding-top: 10vh;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 5vh;
        color: $text-colour-orange;
        font-size: 2rem;
        text-align: justify;
        width: 100vw;
        height: auto;
        //grid-area: sectionText;
        background-color: $body-color-background;

    }
    
}

.Footer{
    width: 100vw;
    height: 5vh;
    background-color: $footer-colour;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--Email{
        font-size: 1rem;
        padding-top: 1.5vh;
        color: $text-colour-orange;
    }
}
