.Page{
    width: 100vw;
    height: 18vh;
    position: fixed;
    top: 0px;
    background-color: $body-color-background;
    display: flex;
    justify-items: center;
    &--Title{
        font-size: 3rem;
        text-align: center;
        position: fixed;
        width: 100vw;
        top: 10vh;
        display: flex;
        align-content: center;
        justify-content: center;
        z-index: 500;
    }
    &--TitleText{
        width: auto;
        @include title-gradient;
        
    }
}