// MEDIA QUERY MANAGER
// 0 - 600px        phone
// 600 - 900px      tablet portrait      
// 800              large-phone
// 900 - 1200px     tablet landscape     
// 1200 - 1800px    ****where our normal styles apply****
//  1800+           big desktop  
@import "../../css/abstracts/variables";

@mixin parallax($image){
    background-image: 'url(${$image})';
    /* Full height */
    height: 100%; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin respond($breakpoint){
    // TABLETS
    // width is max 1400 & height is max 1050
    @if $breakpoint == tabletLandscape {
        @media(max-width: 75em) and (max-height: 50em) and (orientation : landscape) { @content };
    }
        // width is max 1050 & height is max 1400
    @if $breakpoint == tabletPortrait {
        @media(max-width: 50em) and (max-height: 75em) and (orientation : portrait){ @content };
    }
        // iPad pro (large)
        // capture pointer and hover to separate large touch screen from large screen
    @if $breakpoint == largeTabletLandscape and (hover: none) and (pointer: coarse){
        @media(min-width: 75em) and (orientation : landscape){ @content };
    }
    @if $breakpoint == largeTabletPortrait{
        @media(min-width: 50em) and (orientation : portrait){ @content };
    }

    // PHONES
        // width is max 850 & height is max 500
    @if $breakpoint == phoneLandscape {
        @media(max-width: 53.125em) and (max-height: 40.625em) and (orientation : landscape){ @content };
    }
        // width is max 500 & height is max 850
    @if $breakpoint == phonePortrait {
        @media(max-width: 40.625em) and (max-height: 53.125em) and (orientation : portrait){ @content };
    }
}

@mixin title-gradient{
    background: -webkit-linear-gradient(#dd8500, #ff006f);
    background: -webkit-linear-gradient(left, #dd8500, #ff006f);
    background: -o-linear-gradient(right, #dd8500, #ff006f);
    background: -moz-linear-gradient(right, #dd8500, #ff006f);
    background: linear-gradient(to right, #dd8500, #ff006f); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin main-title-gradient{
    background: -webkit-linear-gradient(#ffffff, #dd8500,  #ffffff);
    background: -webkit-linear-gradient(left, #ffffff, #dd8500,  #ffffff);
    background: -o-linear-gradient(right, #ffffff, #dd8500,  #ffffff);
    background: -moz-linear-gradient(right, #ffffff, #dd8500,  #ffffff);
    background: linear-gradient(to right, #ffffff, #dd8500,  #ffffff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 2px 2px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}