// FONTS
$fontFamily : 'Josefin Sans';

// COLOURS
$menu-colour-background: rgba(0,0,0,0.7);
$body-color-background: rgba(1,1,1,1);
$content-color-background: #151515;
$text-colour-pink: #ff006f;
$text-colour-orange: #dd8500;
$footer-colour: rgba(0,0,0,0.7);